<nav class="row navbar navbar-dark fixed-top do-gray">
		<div class="container-fluid">
			<div>
			<a class="do-black float-left" routerLink='/user/:uid/website/:wid/page'><i class="fas fa-chevron-left"></i></a>
			<a class="container-fluid do-no-underline do-font-white" routerLink='/user/:uid/website/:wid/page/:pid/widget'><b>Widgets</b></a>
			</div>
			<a routerLink='/user/:uid/website/:wid/page/:pid/widget/new' class="do-black float-right"><i class="fas fa-plus"></i></a>
		</div>	
	</nav>

		<div class="container-fluid">
			<div>
				<div class="do-absolute-right ">
					<a routerLink='/user/:uid/website/:wid/page/:pid/widget/wgid'><i class="fas fa-cog"></i></a>
					<a href="#"><i class="fas fa-bars"></i></a>
				</div>
					<h1>Welcome</h1>
			</div>
		

		
			<div>
				<div class="do-absolute-right ">
					<a routerLink='/user/:uid/website/:wid/page/:pid/widget/wgid'><i class="fas fa-cog"></i></a>
					<a href="#"><i class="fas fa-bars"></i></a>
				</div>

					<h5>UK Giant Ichthyosaur is One of Largest Animals Ever</h5>
				<!-- <div class="embed-responsive embed reponsive-16by9"></div> -->


			</div>
		
		
		
			<div>
				<div class="do-absolute-right ">
					<a routerLink='/user/:uid/website/:wid/page/:pid/widget/wgid'><i class="fas fa-cog"></i></a>
					<a href="#"><i class="fas fa-bars"></i></a>
				</div>
				<div>
					The 205 million-year-old jaw bone of a prehistoric reptile belongs to "one of the largest animals ever" say a group of international palaeontologists.

					The new discovery has also solved a 150-year-old mystery of supposed "dinosaur bones" from the UK.

					The bone belongs to a giant ichthyosaur, a type of prehistoric aquatic reptile, and experts estimate the length of this specimen’s body would have been up to 26 meters-- approaching the size of a blue whale.
					
				</div>
				<!-- <div class="embed-responsive embed reponsive-16by9" >	
				</div> -->
			</div>

		
		
		
			<div>
				<div class="do-absolute-right ">
					<a routerLink='/user/:uid/website/:wid/page/:pid/widget/wgid'><i class="fas fa-cog"></i></a>
					<a href="#"><i class="fas fa-bars"></i></a>
				</div>
				<div>
				<img width="100%" height="75%" src="https://abm-website-assets.s3.amazonaws.com/laboratoryequipment.com/s3fs-public/styles/content_body_image/public/embedded_image/2018/04/1920_shonisaurusgiantichthyosaurcnobumichitamura.jpg?itok=-gWi-prf">
				</div>
				<!-- <div class="embed-responsive embed reponsive-16by9" >	
				</div> -->
			</div>

		
			<div>
				<div class="do-absolute-right ">
					<a routerLink='/user/:uid/website/:wid/page/:pid/widget/wgid'><i class="fas fa-cog"></i></a>
					<a href="#"><i class="fas fa-bars"></i></a>
				</div>

					<h5>Researchers develop device that can 'hear' your internal voice</h5>
				<!-- <div class="embed-responsive embed reponsive-16by9"></div> -->


			</div>
		
<!-- Picture-->
		

	
			<div>
				<div class="do-absolute-right ">
					<a routerLink='/user/:uid/website/:wid/page/:pid/widget/wgid'><i class="fas fa-cog"></i></a>
					<a href="#"><i class="fas fa-bars"></i></a>
				</div>
				<div>
					<p>Researchers have created a wearable device that can read people’s minds when they use an internal voice, allowing them to control devices and ask queries without speaking.
					The device, called AlterEgo, can transcribe words that wearers verbalise internally but do not say out loud, using electrodes attached to the skin.
					</p>
				</div>
				<!-- <div class="embed-responsive embed reponsive-16by9" >	
				</div> -->
			</div>

		
<!-- Video -->
		
			<div>
				<div class="do-absolute-right ">
					<a routerLink='/user/:uid/website/:wid/page/:pid/widget/wgid'><i class="fas fa-cog"></i></a>
					<a href="#"><i class="fas fa-bars"></i></a>
				</div>
				<div class='video-responsive'>
				<iframe   src="https://www.youtube.com/embed/FyOjjIVFkws" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
			</div>
		</div>
		
<nav class="navbar navbar-dark do-gray fixed-bottom">
	<div class="do-width">
		<a href="#" class="do-black"> <i class="fas fa-play"></i></a>
		<a href="#" class="do-black"> <i class="fas fa-eye"></i></a>
		<a routerLink='/user/:uid' class="float-right" >
			<i class="fas fa-user"></i> </a> 
	</div>
</nav>

