<div class= "container">

<div *ngIf='errorFlag' class='alert alert-danger'>{{errorMsg}}
</div>
	<h1 align="center"> Login</h1>

<form (ngSubmit) = 'login()' #f ='ngForm'>
	<div class="form-group">
		<input type="text"  #inputValue name="username" placeholder="username" class="form-control" [(ngModel)]='username' required>
	</div>

	 <!--  <span class="help-block" *ngIf="!username.valid && username.touched">
      Please enter username!
   </span> -->


	<div class="form-group"> 
		<input type="password" name="password" placeholder="password" class="form-control">
	</div>

		<a  class="btn btn-primary btn-block" routerLink="/user/:uid">Login</a>
		<a class="btn btn-secondary btn-block" routerLink="/register">Register</a>


</form>
	</div>


