<nav class="row navbar navbar-dark fixed-top do-gray">
		<div class="container-fluid">
			<div>
			<a class="do-black float-left" routerLink='/user/:uid/website/:wid/page/:pid/widget'><i class="fas fa-chevron-left"></i></a>
			<a class="container-fluid do-no-underline do-font-white" routerLink='/user/:uid/website/:wid/page/:pid/widget/wgid'><b>Widget Edit</b></a>
			</div>
			<a routerLink='/user/:uid/website/:wid/page/:pid/widget' class="do-black float-right"><i class="fas fa-check"></i></a>
		</div>	
	</nav>

<form>
	<div class= "container-fluid">
	<div>
		<div class=" form-group">
			<label for="name">Name</label>
			<input type="text" name="name" class="form-control">
		</div>
	</div>
	<div>
		<div class="form-group">
			<label for="text">Text</label>
			<input type="text" name="text" class="form-control">
		</div>
	</div>
	<div>
		<div class="form-group">
			<label for="size">Size</label>
			<input type="number" name="size" class="form-control">
		</div>
	</div>
	
		<a class="btn btn-block btn-primary" routerLink='/user/:uid/website/:wid/page/:pid/widget'>Upload</a>
		<a class="btn btn-block btn-danger" routerLink='/user/:uid/website/:wid/page/:pid/widget'>Delete</a>
		</div>
</form>

<nav class="navbar navbar-dark do-gray fixed-bottom">
	<div class="do-width">
		<a routerLink='/user/:uid' class=" float-right" >
			<i class="fas fa-user"></i> </a> 
	</div>
</nav>
