<nav class=" row navbar navbar-dark fixed-top do-gray">
		<div class="container-fluid">
			<div>
			<a class="do-black float-left" routerLink='/user/:uid/website/:wid/page/:pid/widget'><i class="fas fa-chevron-left"></i></a>
			<a class="container-fluid do-no-underline do-font-white" routerLink='/user/:uid/website/:wid/page/:pid/widget/new'><b>Choose Widget</b></a>
			</div>
		</div>	
	</nav>


<div class="container-fluid">
	<ul class="list-group">
		<li class="list-unstyled  do-hover"> <a routerLink='/user/:uid/website/:wid/page/:pid/widget/wgid'>Header</a></li>		
  		<div><br>
  		<li class=" list-unstyled do-hover"> <a href ="#">Label</a></li>
		</div><div><br>
		<li class="list-unstyled do-hover"> <a href ="#">HTML</a></li>  
		</div><div><br>
		<li class="list-unstyled do-hover"> <a href ="#">Text Input</a></li>
		</div><div><br>
		<li class="list-unstyled do-hover"> <a href ="#">Link</a></li>
		</div><div><br>
		<li class="list-unstyled do-hover"> <a href ="#">Button</a></li>
		</div><div><br>
		<li class="list-unstyled do-hover"> <a routerLink='/user/:uid/website/:wid/page/:pid/widget/wgid'>Image</a></li>
		</div><div><br>
		<li class="list-unstyled do-hover"> <a routerLink='/user/:uid/website/:wid/page/:pid/widget/wgid'>Youtube</a></li>
		</div><div><br>
		<li class="list-unstyled do-hover"> <a href ="#">Data Table</a></li>
		</div><div><br>
		<li class="list-unstyled do-hover"> <a href ="#">Repeater</a></li>
		</div>
	</ul>
</div>


<nav class="navbar navbar-dark do-gray fixed-bottom">
	<div class="do-width">
		<a routerLink='/user/:uid' class=" float-right" >
			<i class="fas fa-user"></i> </a> 
	</div>
</nav>
