<div class= "container">
	<h1 align="center" >Register</h1>
<form>
	<div class="form-group">
	<input type="text" name="username" placeholder="username" class="form-control">
	</div>

	<div class="form-group">
		<input type="password" name="password" placeholder="password" class="form-control">
	</div>

	<div class="form-group">
		<input type="password" name="verify" placeholder="verify password" class="form-control">
	</div>
		<a class="btn btn-primary btn-block" routerLink="/user/:uid">Register</a>
		<a  class="btn btn-danger btn-block" routerLink="/login">Cancel</a>
</form>
</div>
